, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.baku {
  background-image: url("../images/baku.jpg");
}

.london {
  background-image: url("../images/london.png");
}

.madrid {
  background-image: url("../images/madrid.jpg")
}

.rome {
  background-image: url("../images/rome.jpg")
}

h1 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.preview h1 {
  text-align: left;
  font-family: serif;
  text-transform: capitalize;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin: auto;
  text-align: center;
}

.preview {
  display: inline-block;
  width: 390px;
  height: 200px;
  background-size: cover;
  padding-left: 15px;
  object-fit: cover;
  margin-bottom: 5px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 630px) {
  .preview {
    width: 300px;
    height: 200px;
}

@media screen and (min-width: 1080px) {
  .preview {
    width: 300px;
    height: 200px;
}
